.home{
    /* margin: auto; */
    display: flex;
    background-color: #dcdcdc;
    /* flex-wrap: wrap; */
}

.div1{
  width: 20%;
  margin-right: 10px;
  float: left;
  margin-left: 5px
}

.div2{
  width: 80%;
  float: left;
  margin-right: 5px;
}

.section{
    float: left;
    /* width: 50%; */
    /* padding: 10px; */
}

@media only screen and (min-width : 768px) {
  .div1{
    width: 20%;
  }
  .div2{
    width: 80%;
  }
}

  /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .div1{
    width: 20%;
  }
  .div2{
    width: 80%;
  }
  }

