.list { 
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right:20% ;
    margin-top: 37px;
}

.list li{
    list-style: none;
    float: left;
    width: 33.33%;
}

.list p {
    box-sizing: border-box;
    border-radius: 10px;
    margin-right:20% ;
    margin-left: 5px;
    height: 400px;
    background-color: white;
}

.paginationButton button{
    margin-left: 5px;
    height: 30px;
    width: 60px;
    /* margin-right: 5px; */
    border-radius: 2px;
    margin-top: 25%;
    background-color: lightgreen;
}

.list img{
    /* margin:5px 5px 5px 2px; */
    /* height: 200px; */
    width: 250px;
    /* border-radius: 5px; */
    /* border: 0px solid; */
    /* outline: none; */
    /* background-color:#f2f2f2 ; */
}

.list img:alt {
    /* margin:5px 5px 5px 2px; */
    height: 200px;
    width: 250px;
    border-radius: 5px;
    /* background-color:#f2f2f2 ; */
}

@media only screen and (min-width : 768px) {
    .list p {
        margin-right:20% ;
        margin-left: 5px;
        height: 400px;
    }
    .list li{
        float: left;
        width: 33.33%;
    }
    .list img{
        margin:5px 5px 5px 2px;
        height: 200px;
        width: 250px;
    }
  }

  /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* .list li{ */
        /* height:100% ; */
    /* } */
    .list p {
        margin-right:20% ;
        margin-left: 5px;
        height: 400px;
    }
    .list li{
        float: left;
        width: 33.33%;
    }
    .list img{
        margin:5px 5px 5px 2px;
        height: 200px;
        width: 250px;
    }
  }
